*.iml
.idea/*
/local.properties
/.idea/workspace.xml
/.idea/codeStyles
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
.gradle/4.10.1/fileChanges/last-build.bin
.gradle/4.10.1/fileContent/fileContent.lock
.gradle/4.10.1/fileHashes/fileHashes.bin
.gradle/4.10.1/fileHashes/fileHashes.lock
.gradle/4.10.1/fileHashes/resourceHashesCache.bin
.gradle/4.10.1/gc.properties
.gradle/4.10.1/taskHistory/taskHistory.bin
.gradle/4.10.1/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
